* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: grid;
    border-bottom: solid black 1px;
    width: 100%;
    height: 50px;
    place-items: center;
}

header h1 {
    margin: 0;
}

.main-container {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    width: calc(100% - 22px);
    resize: vertical;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 200px;
}

#posts-list {
    max-height: 50px;
    overflow-y: auto;
}

button[type="submit"] {
    width: 100px;
    border: none;
    border-radius: 4px;
    padding: 6px 6px;
    color: white;
    background-color: rgb(78, 136, 251);
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:  rgb(48, 166, 64);
}

.footer{
    border-top: solid black 1px;
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}